*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

html, body{
    height: 100%;
}

.boxes{
    border: 1rem solid rgb(110, 108, 108);
}

.box{
    padding: 5rem;
}

.box1{
    background: rgb(103, 103, 238);
}
.box2{
    background: rgba(0, 255, 255, 0.808);
}
.box3{
    background: rgb(203, 240, 37);
}
.box4{
    background: rgb(212, 14, 203);
}
.box5{
    background: rgb(255, 51, 0);
}
.box6{
    background: rgb(0, 255, 21);
}
