*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* div{
    background: blueviolet;
    color: white;
    width: 300px;
    padding: 20px;
    margin-top: 20px;
    border: 5px solid black;
} */

html{
    font-size: 62.5%;
}

html, body{
    height: 100%;
}

.container{
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
}

.box{
    height: 10rem;
    width: 10rem;
    flex-basis: 10rem;
    flex-grow: 1;
}

.box1{
    background: blue;
}
.box2{
    background: rgba(0, 255, 255, 0.808);
}
.box3{
    background: rgb(203, 240, 37);
}
.box4{
    background: rgb(212, 14, 203);
}
.box5{
    background: rgb(255, 51, 0);
}
.box6{
    background: rgb(0, 255, 21);
}

.text-section{
    font-size: 1.5rem;
}

.text-section div{
    font-size: 2rem;
}

button{
    margin: 5rem 20rem;
    padding: 2rem 4rem;
    background: none;
    border: 0.2rem solid rgb(103, 211, 103);
    color: white;
    font-size: 2.4rem;
    border-radius: 1rem;
    background-color: rgb(103, 211, 103);
}

button:hover{
    background-color: rgb(8, 8, 32);
}