*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* div{
    background: blueviolet;
    color: white;
    width: 300px;
    padding: 20px;
    margin-top: 20px;
    border: 5px solid black;
} */

html{
    font-size: 62.5%;
    color: white;
}

html, body{
    height: 100%;
}

.container{
    height: 80%;
    width: 80%;
    margin: auto;
    background: cadetblue;
}

.box1, .box2, .box3{
    position: relative;
    background: yellow;
    width: 15%;
    height: 20%;
}

.box h1{
    position: absolute;
    bottom: 0%;
    font-size: calc( 2rem + (1vw));
}

.box1{
    background: black;
}

.box2{
    background: blue;
}


.text-section{
    font-size: 1.5rem;
}

.text-section div{
    font-size: 2rem;
}

button{
    margin: 5rem 20rem;
    padding: 2rem 4rem;
    background: none;
    border: 0.2rem solid rgb(103, 211, 103);
    color: white;
    font-size: 2.4rem;
    border-radius: 1rem;
    background-color: rgb(103, 211, 103);
}

button:hover{
    background-color: rgb(8, 8, 32);
}